div.console-logger table {
  table-layout: fixed;
}

div.console-logger td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

div.console-logger tr.log-error > td {
  color: #b94a48;
  background-color: #f2dede;
}

div.console-logger tr.log-pending > td  {
  color: #c09853;
  background-color: #f3edd2;
}

div.console-logger tr.log-success > td  {
  color: #468847;
  background-color: #dff0d8;
}