div.console-logger table {
  table-layout: fixed;
}

div.console-logger td {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

div.console-logger .error {
  color: red;
}

div.console-logger .pending {
  color: yellow;
}

div.console-logger .success {
  color: green;
}