html,
body,
div[ng-view] {
  height: 100%;
}

a {
  cursor: pointer;
}

div.progress-bar > span {
  color: #d9edf7;
  text-shadow: 1px 1px #3a87ad;
  white-space: nowrap;
}

div.progress-bar-success > span {
  color: #dff0d8;
  text-shadow: 1px 1px #468847;
}

div.progress-bar-danger > span {
  color: #f2dede;
  text-shadow: 1px 1px #b94a48;
}

div.alert {
  padding: 5px;
}

span.label {
  margin-left: 2px;
  margin-right: 2px;
}

input {
  margin-left: 3px;
  margin-right: 3px;
}

input[type=number] {
  width: 50px;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: .50;
}

span.delete {
  color: #b94a48;
}

.pointer {
  cursor: pointer;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

div.large > div.modal-dialog {
  width: 1000px;
}





div.config-panel {
  background-color: #e3f0f7;
  border: 1px solid #8ba2ad;
  border-radius: 4px;
  padding: 10px;
  color: #3a87ad;
  margin: 10px;
}

div.config-panel > div.toolbar {
  padding: 5px;
}

div.config-panel > div.toolbar > div {
  display: inline-block;
}

div.config-panel > div.toolbar > div.start-button {
  float: right;
}

div.config-panel table.table,
div.config-panel table.table > thead > tr > th ,
div.config-panel table.table > tbody > tr > td {
  border: 1px solid #8ba2ad;
}

div.status-panel {
  background-color: #f9f9f9;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 10px;
  overflow: auto;
}