div.home {
  overflow-x: hidden;
  height: 100%;
}

div.home div.row-main,
div.home div.row-main > div {
  height: 100%
}

div.home div.row-main {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

div.home div.left-panel {
  background: #f3edd2;
  color: #805100;
}

div.home div.left-panel div.progress,
div.home div.left-panel select {
  border: 1px solid #c09853;
}


div.home tr > td {
  line-height: 12px;
  font-size: 12px;
}

div.home tr > td a {
  padding: 1px;
}