div.home {
  overflow-x: hidden;
  height: 100%;
}

div.home div.row-main,
div.home div.row-main > div {
  height: 100%
}

div.home tr > td {
  line-height: 12px;
  font-size: 12px;
}

div.home tr > td a {
  padding: 1px;
}