div.log-detail > div.modal-dialog {
  width: 800px;
}

div.log-detail textarea {
  resize: none;
}

div.log-detail textarea[readonly] {
  cursor: auto;
}

div.log-detail textarea#log-request {
  height: 200px
}

div.log-detail textarea#log-response {
  height: 400px
}