<div class="account-panel">
  <div>
    <div class="row">
      <div class="col-md-6" class="col">
        <h3 class="name">{{userinfo.NickName}}</h3>
      </div>
      <div class="col-md-6">
        <h3 class="level">LV: {{userinfo.Level}}</h3>
      </div>
    </div>
    <div>
      <progressbar class="progress-striped" value="(userinfo.Exp - userinfo.PrevExp)/(userinfo.NextExp - userinfo.PrevExp) * 100" type="success">{{'EXP' | translate}}: {{userinfo.Exp - userinfo.PrevExp}}/{{userinfo.NextExp - userinfo.PrevExp}}</progressbar>
      <progressbar class="progress-striped" value="(userinfo.Energy/userinfo.EnergyMax) * 100">{{'ENERGY' | translate}}: {{userinfo.Energy}}/{{userinfo.EnergyMax}}</progressbar>
    </div>
    <div>
      <div class="col-md-4" class="col">
        {{'COINS' | translate}}
      </div>
      <div class="col-md-8">
        {{userinfo.Coins}}
      </div>
    </div>
    <div>
      <div class="col-md-4" class="col">
        {{'CASH' | translate}}
      </div>
      <div class="col-md-8">
        {{userinfo.Cash}}
      </div>
    </div>
    <div>
      <div class="col-md-4" class="col">
        {{'TICKET' | translate}}
      </div>
      <div class="col-md-8">
        {{userinfo.Ticket}}
      </div>
    </div>

    <div class="row switch-account">
      <div class="col-md-8">
        <select ng-model="targetAccount"
                ng-options="login.username group by login.server for login in historyLogins"></select>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" ng-click="switchAccount(targetAccount)" ng-disabled="targetAccount == currentAccount">{{'SWITCH' | translate}}</a>
      </div>
    </div>

  </div>
  <div>
    <a class="btn btn-success" ng-click="useDifferentAccount()">{{'OTHER_ACCOUNT' | translate}}</a>
  </div>
</div>