<div class="console-logger">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th>#</th>
      <th>{{'LOG' | translate}}</th>
      <th>{{'SERVICE' | translate}}</th>
      <th>{{'ACTION' | translate}}</th>
      <th>{{'STATUS' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(index, log) in logs" ng-click="view(log)"
        ng-class="{'log-error': log.status == 0, 'log-pending': log.status == -1, 'log-success': log.status == 1}">
      <td>{{index}}</td>
      <td>{{log.log}}</td>
      <td>{{log.service}}</td>
      <td>{{log.action}}</td>
      <td>{{getStatus(log)}}</td>
    </tr>
    </tbody>
  </table>
</div>