<div class="dungeon-tab">

  <div class="config-panel">
    <div class="toolbar">
      <div class="config-button">
        <a class="btn btn-primary" ng-click="showConfigOptions()" ng-show="configOptionsHidden">{{'SHOW_OPTIONS' | translate}}</a>
        <a class="btn btn-primary" ng-click="hideConfigOptions()" ng-hide="configOptionsHidden">{{'HIDE_OPTIONS' | translate}}</a>
        <a class="btn btn-primary" ng-click="saveSettings()" ng-hide="configOptionsHidden">{{'SAVE_SETTINGS' | translate}}</a>
      </div>
      <div class="start-button">
        <a class="btn btn-success" ng-click="start()">{{'START' | translate}}</a>
      </div>
    </div>
    <div class="config-options" collapse="configOptionsHidden">
      <form>
        <ul>
          <li>
            <label>
              {{'EVERY' | translate}}<input ng-model="profile.interval" type="number" min="10" max="1440">{{'MINUTES' | translate}}
            </label>
            <label>
              <input ng-model="profile.autoRun" type="checkbox">{{'RUN_AUTOMATICALLY' | translate}}
            </label>
          </li>
        </ul>
      </form>
    </div>
  </div>

  <div class="status-panel">
    <div class="toolbar">
      <a class="btn btn-default" ng-click="refresh()">{{'REFRESH' | translate}}</a>
      <a class="btn btn-default" ng-click="sweep()" ng-disabled="dungeonStatus.UserDungeon.RaidsLayer == 0 || dungeonStatus.UserDungeon.RaidsStatus == 1">{{'SWEEP' | translate}}</a>
    </div>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th class="col-md-3">#</th>
        <th class="col-md-9">{{'STAGE' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="(index, sublist) in layerLables">
        <td>{{sublist[0].layer}} ~ {{sublist[sublist.length - 1].layer}}</td>
        <td>
          <span class="label"
             ng-repeat="label in sublist"
             ng-class="{'label-success': label.awarded, 'label-primary': !label.finished, 'label-warning': label.finished && !label.awarded}"
             ng-click="fight(label.layer)"
            >{{label.text}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>