<div class="friends-tab">

  <div class="config-panel">
    <div class="toolbar">
      <div class="config-button">
        <a class="btn btn-primary" ng-click="showConfigOptions()" ng-show="configOptionsHidden">{{'SHOW_OPTIONS' | translate}}</a>
        <a class="btn btn-primary" ng-click="hideConfigOptions()" ng-hide="configOptionsHidden">{{'HIDE_OPTIONS' | translate}}</a>
        <a class="btn btn-primary" ng-click="saveSettings()" ng-hide="configOptionsHidden">{{'SAVE_SETTINGS' | translate}}</a>
      </div>
      <div class="start-button">
        <a class="btn btn-success" ng-click="start()">{{'START' | translate}}</a>
      </div>
    </div>
    <div class="config-options" collapse="configOptionsHidden">
      <form>
        <ul>
          <li>
            <label>
              {{'EVERY' | translate}}<input ng-model="profile.interval" type="number" min="10" max="1440">{{'MINUTES' | translate}}
            </label>
            <label>
              <input ng-model="profile.autoRun" type="checkbox">{{'RUN_AUTOMATICALLY' | translate}}
            </label>
          </li>
          <li>
            <label>
              <input ng-model="profile.returnSender" type="checkbox">{{'IMMEDIATELY_RETURN_ENERGY_TO_SENDER' | translate}}
            </label>
          </li>
          <li>
            <label>
              <input ng-model="profile.favourRecentOnline" type="radio" name="priority">{{'FAVOUR_RECENT_ONLINE_PLAYERS' | translate}}
              <input ng-model="profile.favourHighRank" type="radio" name="priority">{{'FAVOUR_HIGH_RANK_PLAYERS' | translate}}
            </label>
          </li>
        </ul>
      </form>
    </div>
  </div>

  <div class="status-panel">
    <div class="toolbar">
      <a class="btn btn-default" ng-click="refresh()">{{'REFRESH' | translate}}</a>
    </div>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th class="col-md-1">#</th>
        <th class="col-md-2">{{'NICKNAME' | translate}}</th>
        <th class="col-md-1">{{'LEVEL' | translate}}</th>
        <th class="col-md-2">{{'LAST_LOGIN' | translate}}</th>
        <th class="col-md-1">{{'RANK' | translate}}</th>
        <th class="col-md-3">{{'LEGION' | translate}}</th>
        <th class="col-md-2">{{'ENERGY' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="(index, friend) in friends" ng-click="view(friend)">
        <td>{{index}}</td>
        <td><a><span class="glyphicon glyphicon-remove delete"></span></a> {{friend.NickName}}</td>
        <td>{{friend.Level}}</td>
        <td>{{friend.LastLogin}}</td>
        <td>{{friend.Rank}}</td>
        <td>{{friend.LegionName}}</td>
        <td>
          <a class="btn btn-xs btn-success" ng-click="claimEnergy(friend.Uid)" ng-disabled="friend.FEnergySurplus == 0">{{'CLAIM' | translate}}</a>
          <a class="btn btn-xs btn-danger" ng-click="sendEnergy(friend.Uid)" ng-disabled="friend.FEnergySend == 0">{{'SEND' | translate}}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>