<div class="home">

  <div class="row">
    <div class="col-md-2">

    </div><div class="col-md-5">
      <tabset>
        <tab>
          <tab-heading>
            {{'MAZE' | translate}}
          </tab-heading>
        </tab>

        <tab>
          <tab-heading>
            {{'FRIENDS' | translate}}
          </tab-heading>
          <a class="btn btn-primary" ng-click="list()">list</a>
          <a class="btn btn-primary" ng-click="accept()">accept</a>
        </tab>

      </tabset>
    </div><div class="col-md-5">
      <console-logger logs="logs"></console-logger>
    </div>
  </div>

</div>