<div class="home">

  <div class="row row-main">
    <div class="col-md-3">
      <div>
        <account-panel></account-panel>
        <tools-panel></tools-panel>
      </div>
    </div>
    <div class="col-md-6">

      <tabset>

        <tab active="tabs.user" heading="{{'USER' | translate}}">
          <user-tab tabs="tabs"></user-tab>
        </tab>

        <tab active="tabs.maze" heading="{{'MAZE' | translate}}">
          <maze-tab tabs="tabs"></maze-tab>
        </tab>

        <tab active="tabs.friends">
          <tab-heading>
            {{'FRIENDS' | translate}}
          </tab-heading>
          <a class="btn btn-primary" ng-click="list()">list</a>

          <div class="friends-list">
            <table class="table table-condensed">
              <thead>
              <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-2">{{'NICKNAME' | translate}}</th>
                <th class="col-md-1">{{'LEVEL' | translate}}</th>
                <th class="col-md-2">{{'LAST_LOGIN' | translate}}</th>
                <th class="col-md-1">{{'RANK' | translate}}</th>
                <th class="col-md-3">{{'LEGION' | translate}}</th>
                <th class="col-md-2">{{'ENERGY' | translate}}</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="(index, friend) in friends" ng-click="view(friend)">
                <td>{{index}}</td>
                <td>{{friend.NickName}}</td>
                <td>{{friend.Level}}</td>
                <td>{{friend.LastLogin}}</td>
                <td>{{friend.Rank}}</td>
                <td>{{friend.LegionName}}</td>
                <td>
                  <a class="btn btn-xs btn-success" ng-click="claimEnergy(friend.Uid)" ng-disabled="friend.FEnergySurplus == 0">{{'CLAIM' | translate}}</a>
                  <a class="btn btn-xs btn-danger" ng-click="sendEnergy(friend.Uid)" ng-disabled="friend.FEnergySend == 0">{{'SEND' | translate}}</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </tab>

        <tab active="tabs.counter_attacks">
          <tab-heading>
            {{'COUNTER_ATTACKS' | translate}}
          </tab-heading>
        </tab>

        <tab active="tabs.dungeon" heading="{{'DUNGEON' | translate}}">
          <dungeon-tab></dungeon-tab>
        </tab>

        <tab active="tabs.arena" heading="{{{{'ARENA' | translate}}}}">
        </tab>

      </tabset>
    </div>
    <div class="col-md-3">
      <console-logger></console-logger>
    </div>
  </div>

</div>