<div class="home">

  <div class="row row-main">
    <div class="col-md-3">
      <div class=" left-panel">
        <account-panel></account-panel>
        <tools-panel></tools-panel>
      </div>
    </div>
    <div class="col-md-6">

      <tabset>

        <tab active="tabs.user" heading="{{'USER' | translate}}">
          <user-tab tabs="tabs"></user-tab>
        </tab>

        <tab active="tabs.maze" heading="{{'MAZE' | translate}}">
          <maze-tab tabs="tabs"></maze-tab>
        </tab>

        <tab active="tabs.friends" heading="{{'FRIENDS' | translate}}">
          <friends-tab tabs="tabs"></friends-tab>
        </tab>

        <tab active="tabs.counterAttacks" heading="{{'COUNTER_ATTACKS' | translate}}">
          <counter-attacks-tab tabs="tabs"></counter-attacks-tab>
        </tab>

        <tab active="tabs.dungeon" heading="{{'DUNGEON' | translate}}">
          <dungeon-tab tabs="tabs"></dungeon-tab>
        </tab>

        <tab active="tabs.arena" heading="{{'ARENA' | translate}}">
          <arena-tab tabs="tabs"></arena-tab>
        </tab>

        <tab active="tabs.journey" heading="{{'JOURNEY' | translate}}">
          <journey-tab tabs="tabs"></journey-tab>
        </tab>

      </tabset>
    </div>
    <div class="col-md-3">
      <console-logger></console-logger>
    </div>
  </div>

</div>