<div class="journey">
  <div class="status-panel">
    <div class="toolbar">
      <a class="btn btn-primary" ng-click="refreshUserJourneysStatus()">
        {{'REFRESH' | translate}}
      </a>

      <a class="btn btn-primary" ng-click="exploreForBoss()">
        {{'EXPLORE_FOR_BOSS' | translate}}
      </a>
    </div>
    <div>
      <span></span>
      "userPointRank": 107,
      "userPoints": 16663,
      "nextPoint": 23000,
      "nextPointAward": {
      "type": 2,
      "value": "300"
      }
    </div>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>#</th>
        <th>{{'DIFFICULTY' | translate}}</th>
        <th>{{'HEALTH_POINT' | translate}}</th>
        <th>{{'FROM' | translate}}</th>
        <th>{{'ROUND' | translate}}</th>
        <th>{{'ACTION' | translate}}</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="journey in userJourneysStatus.journeyList.journeyList">
          <td>
            {{$index}}
          </td>
          <td>
            {{journey.Grade}}-{{journey.JourneyName}} LV: {{journey.Level}}
          </td>
          <td>
            {{journey.HPCurrent}}/{{journey.HPCount}}
          </td>
          <td>
            {{journey.NickName}}
          </td>
          <td>
            {{journey.Round}}
          </td>
          <td>
            <a class="btn btn-xs btn-success" ng-disabled="!journey.enableAward" ng-click="getJourneyPointReward(journey)">
              {{'CLAIM_AWARDS' | translate}}
            </a>
            <a class="btn btn-xs btn-danger" ng-disabled="journey.FleeTime == 0" ng-click="fightJourney(journey)">
              {{'FIGHT' | translate}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>