<div class="log-detail-modal">
  <div class="modal-header">
    <h3>{{log.service}}?do={{log.action}}</h3>
  </div>
  <div class="modal-body">
    <form role="form">
      <div class="form-group">
        <label for="log-request">{{'REQUEST' | translate}}</label>
        <textarea class="form-control" id="log-request" readonly>{{log.params | json}}</textarea>
      </div>
      <div class="form-group">
        <label for="log-response">{{'RESPONSE' | translate}}</label>
        <textarea class="form-control" id="log-response" readonly>{{getResponse(log)}}</textarea>
      </div>
    </form>
  </div>
</div>