<div class="maze-tab">
  <div>
    <a class="btn btn-success" ng-click="start()">{{'START' | translate}}</a>
    <a class="btn btn-primary" ng-click="saveSettings()">{{'SAVE_SETTINGS' | translate}}</a>
  </div>
  <div class=""></div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th ng-repeat="(mapPos, available) in mazes">{{mapPos}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td ng-repeat="(mapPos, available) in mazes">
        <div>
          <label>
            <input type="checkbox" ng-model="profile.attack[mapPos]">{{'ATTACK' | translate}}
          </label>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <table class="table">
    <thead>
    <tr>
      <th class="col-md-1">{{'MAZE' | translate}}</th>
      <th class="col-md-1">{{'LAYER' | translate}}</th>
      <th class="col-md-2">{{'ENEMY' | translate}}</th>
      <th class="col-md-2">{{'EXP' | translate}}</th>
      <th class="col-md-2">{{'COINS' | translate}}</th>
      <th class="col-md-4">{{'AWARDS' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="battle in battles">
      <td>{{battle.maze}}</th>
      <td>{{battle.layer}}</th>
      <td>{{battle.enemy}}</th>
      <td>{{battle.exp}}</th>
      <td>{{battle.coins}}</th>
      <td>{{battle.awards}}</th>
    </tr>
    </tbody>
  </table>

</div>