<div class="maze-tab" ng-hide="outdated">

  <div class="config-panel">
    <div class="toolbar">
      <div class="config-button">
        <a class="btn btn-primary" ng-click="showConfigOptions()" ng-show="configOptionsHidden">{{'SHOW_OPTIONS' | translate}}</a>
        <a class="btn btn-primary" ng-click="hideConfigOptions()" ng-hide="configOptionsHidden">{{'HIDE_OPTIONS' | translate}}</a>
        <a class="btn btn-primary" ng-click="saveSettings()" ng-hide="configOptionsHidden">{{'SAVE_SETTINGS' | translate}}</a>
      </div>
      <div class="start-button">
        <a class="btn btn-success" ng-click="start()">{{'START' | translate}}</a>
      </div>
    </div>
    <div class="config-options" collapse="configOptionsHidden">
      <form>
        <table class="table table-bordered">
          <thead>
          <tr>
            <th ng-repeat="(mapStageId, toAttack) in profile.attack">{{mapStageId}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td ng-repeat="(mapStageId, toAttack) in profile.attack">
              <div>
                <label>
                  <input type="checkbox" ng-model="profile.attack[mapStageId]">{{'ATTACK' | translate}}
                </label>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <ul>
          <li>
            <label>
              {{'EVERY' | translate}}<input ng-model="profile.interval" type="number" min="10" max="1440">{{'MINUTES' | translate}}
            </label>
            <label>
              <input ng-model="profile.autoRun" type="checkbox">{{'RUN_AUTOMATICALLY' | translate}}
            </label>
          </li>
          <li>
            <label>
              {{'SPEND_AT_MOST' | translate}}<input ng-model="profile.maxReset" type="number" min="0" max="400">{{'CRYSTALS_TO_RESET_MAZE' | translate}}
            </label>
          </li>
        </ul>
      </form>
    </div>
  </div>

  <div class="status-panel">
    <div class="toolbar">
      <a class="btn btn-default" ng-click="refresh()">{{'REFRESH' | translate}}</a>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th ng-repeat="(maze, toAttack) in profile.attack">{{maze}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{'STATUS' | translate}}</td>
        <td ng-repeat="(maze, toAttack) in profile.attack">
          <span class="label pointer"
                ng-class="{'label-default': mazeStatuses[maze] == null, 'label-success': mazeStatuses[maze].Clear == 1, 'label-primary': mazeStatuses[maze].Clear == 0}"
                ng-click="getMazeStatus(maze)">{{getMazeStatusLabel(maze)}}</span>
        </td>
      </tr>
      <tr>
        <td>{{'RESET' | translate}}</td>
        <td ng-repeat="(maze, toAttack) in profile.attack">
          <a class="btn btn-xs"
             ng-class="{'btn-default': mazeStatuses[maze] == null, 'btn-success': mazeStatuses[maze].FreeReset == 1, 'btn-primary': mazeStatuses[maze].FreeReset == 0}"
             ng-click="reset(maze)">{{getMazeResetLabel(maze)}}</a>
        </td>
      </tr>
      <tr>
        <td>{{'ATTACK' | translate}}
        </td>
        <td ng-repeat="(maze, toAttack) in profile.attack">
          <a class="btn btn-xs"
             ng-class="{'btn-success': userinfo.Energy >= 2, 'btn-danger': userinfo.Energy < 2}"
             ng-disabled="mazeStatuses[maze] == null || mazeStatuses[maze].Clear == 1 || userinfo.Energy < 2"
             ng-click="attack(maze)">{{'ATTACK' | translate}}</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="status-panel">
    <table class="table">
      <thead>
      <tr>
        <th class="col-md-2">{{'MAZE' | translate}}</th>
        <th class="col-md-2">{{'LAYER' | translate}}</th>
        <th class="col-md-2">{{'EXP' | translate}}</th>
        <th class="col-md-2">{{'COINS' | translate}}</th>
        <th class="col-md-4">{{'AWARDS' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="battle in battles">
        <td>{{battle.maze}}<span class="label label-success" ng-show="battle.clear">{{'CLEAR' | translate}}</span></td>
        <td>{{battle.layer}}</td>
        <td>{{battle.exp}}</td>
        <td>{{battle.coins}}</td>
        <td>
        <span class="label"
              ng-repeat="award in battle.awards track by $index"
              ng-click="showCardDetails(award)"
              ng-class="{'label-default': cardDefs[award].Color < 3, 'label-info': cardDefs[award].Color == 3, 'label-warning': cardDefs[award].Color == 4,  'label-danger': cardDefs[award].Color == 5}">
          {{cardDefs[award].CardName}}
        </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>